<div><ng-content></ng-content>
<!--<div class="test1">
<h4>NgFor (grouped)</h4>
 <ul class="test" *ngFor="let group of peopleByCountry" >  
   <li class="dropdown active" class="dropdown-submenu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span > {{ group.country }} </span>
                                    <i  class="fa fa-chevron-down ng-star-inserted"> </i></a>
   <ul class="dropdown-menu  multi-level">
    <li *ngFor="let person of group.people">  
         <a href="#dynamicData" role="tab" aria-expanded="false" 
                                id="overview-tab" data-toggle="tab">  {{ person.name }}</a>
                           
    
    </li>
   </ul>
   </li>
 </ul>
</div>-->
</div>